<!--
<aside>
  <ul class="p-4 space-y-4">
    <li>
      <a routerLink="/app/dashboard" class="block py-2 px-3 rounded hover:bg-teal-100">Dashboard</a>
    </li>
    <li>
      <a routerLink="/app/client" class="block py-2 px-3 rounded hover:bg-teal-100">Clients</a>
    </li>
    <li>
      <a routerLink="/app/devis" class="block py-2 px-3 rounded hover:bg-teal-100">Devis Received</a>
    </li>
  </ul>
</aside>
-->

<aside>
  <ul class="p-4 space-y-4">
    <li>
      <a routerLink="/app/dashboard" class="block py-2 px-3 rounded hover:bg-teal-100">Dashboard</a>
    </li>
<!--    <li>-->
<!--      <a routerLink="/app/client" class="block py-2 px-3 rounded hover:bg-teal-100">Clients</a>-->
<!--    </li>-->
    <li>
      <a routerLink="/app/devis" class="block py-2 px-3 rounded hover:bg-teal-100">Devis Received</a>
    </li>
    <li class="pt-4 border-t border-gray-200">
      <button
        (click)="onLogoutClick()"
        class="w-full text-left py-2 px-3 rounded bg-red-500 text-white hover:bg-red-600 transition">
        Logout
      </button>
    </li>
  </ul>
</aside>


